/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div#tetsulogo {
    border: 6px solid #ffb300;
    padding: 15px 15px 15px 25px;

 }

 #tetsugaku {
    font-family: "Kokoro";
    font-size: 60px;
    font-color: #ffb300;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
    margin: 10px;
    writing-mode: vertical-rl;
 }

 #description {
    float: right;
    padding: 60px 60px;
    font-style: italic;
 }
 #description_jp {
    float: right;
    padding: 5px 45px;
 }

 h2#name_jp { 
    font-family: 'M PLUS Rounded 1c', sans-serif; 
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

#terms {
    padding-top: 25px;
}

span.show_link {
    display: flex; 
    text-align: right;
    justify-content: space-around;
}